@font-face {
    font-family: "GOODDP";
    src: url(../storage/fonts/good_dog/GOODDP__.TTF);
}

@font-face {
    font-family: "GOODDC";
    src: url(../storage/fonts/good_dog/GOODDC__.TTF);
}

@font-face {
    font-family: "GloriaHallelu";
    src: url(../storage/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf);
}